:root {
  --light-grey: #cccccc;
  --item-hover-grey: #e6e6e6;
  --button-grey: #757575;
  --button-bg-grey: #f1f1f1;
  --microphone-width: 1rem;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
.search {
  width: 36rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.search--autosuggest {
  box-shadow: 1px 4px 8px #d3d3d3;
}
.search__bar {
  position: relative;
  border: 1px solid var(--light-grey);
  border-radius: 2px;
  box-shadow: 1px 4px 8px #d3d3d3;
}
.search__bar--autosuggest {
  box-shadow: none;
}
.search__bar__input {
  border: none;
  width: calc(100% - 3.2rem);
  padding: 0.8rem;
  padding-right: calc(var(--microphone-width)+1.6rem);
  font-size: 16px;
  outline: none;
}
.search__bar__microphone {
  width: var(--microphone-width);
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}
.search__suggestions {
  border: 1px solid var(--light-grey);
  border-top: 0;
  border-bottom: 0;
  font-size: 16px;
}
.search__suggestions__list {
  padding-right: 1rem;
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search__suggestion__list__result {
  padding-left: 1rem;
}
.search__suggestion__list__result:hover {
  background: var(--item-hover-grey);
  cursor: default;
}
.search__actions {
  text-align: center;
  margin-top: 2rem;
}
.search__actions--autosuggest {
  margin: 0;
  border: 1px solid var(--light-grey);
  border-top: 0;
  padding: 1rem 0 0.1rem 0;
}
.search__actions__action {
  height: 2rem;
  font-size: 13px;
  font-weight: 800;
  color: var(--button-grey);
  margin-top: 2rem;
  background: var(--button-bg-grey);
  padding: 0.2rem 2rem;
  outline: none;
  border: none;
  margin: 0.2 0.2rem;
}
.search__actions__action:hover {
  color: black;
  box-shadow: 0 0 1px #a9a9a9;
}
