.tweet {
  width: 38rem;
  position: relative;
  border: 1px solid grey;
}
.tweet__main {
  font-family: Helvetica, sans-serif;
  width: 25rem;
}
.tweet__main__header {
}
.tweet__main__header__item {
  display: inline-block;
}
.tweet__main__header__item--name {
  font-size: 15px;
  font-weight: bold;
}
.tweet__main__header__item--handle,
.tweet__main__header__item--duration {
  font-weight: 200;
  color: lightgrey;
}
.tweet__main__message {
}
.tweet__footer {
}
.tweet__footer__stats {
  display: inline-block;
  width: 4rem;
}
.tweet__footer__stats__item {
  display: inline-block;
}
.tweet__column {
  display: inline-block;
}
.tweet__icon {
  width: 1.5rem;
  vertical-align: middle;
}
.tweet__menu {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.tweet__menu:hover {
  cursor: pointer;
}
.tweet__menu__icon {
  width: 1rem;
}

.avatar {
  width: 6rem;
  vertical-align: top;
  text-align: center;
}
.avatar__image {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
