:root {
  --tooltip-color: black;
}
.tooltip {
  user-select: none;
  width: 10rem;
  height: 2rem;
  background: var(--tooltip-color);
  text-align: center;
  position: absolute;
}
.tooltip__tail {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--tooltip-color);
}
.tooltip__icon {
  width: 1.8rem;
  height: 2rem;
  fill: white;
  padding: 0.1rem;
  text-align: center;
}
.tooltip__icon:last-child {
  border-left: 1px solid white;
}
.article {
  margin: 0 auto;
  width: 500px;
  background: yellow;
  margin-top: 5rem;
}
