:root {
  --dark-grey: #333333;
  --light-grey: #555555;
  --border-grey: #cfcfcf;
}
* {
  font-family: Roboto;
  box-sizing: border-box;
}
body {
  background: #e1f5fe;
  height: 500px;
}
.menu {
  margin: 0 auto;
  width: 64rem;
  background: #f7f6f5;
  border-top: 1px solid var(--border-grey);
}
.menu__main {
  width: 90%;
  margin: 0 auto;
}
.menu__item {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-grey);
}
.menu__item:hover {
  background: white;
  border-bottom: none;
  border-right: 1px solid var(--border-grey);
  border-left: 1px solid var(--border-grey);
  margin: 0 -1px;
}
.menu__item--current .menu__item__link {
  color: var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  padding-bottom: 0.3rem;
}
.menu__item__link {
  text-decoration: none;
  color: var(--light-grey);
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 800;
}
.menu__item__link:hover {
  text-decoration: underline;
  color: #1c60bb;
}
.menu__sub {
  /* width: 64rem; */
  height: 18rem;
  background: white;
}
.menu__sub__categories {
  vertical-align: top;
  display: inline-block;
  width: calc(40% - 1rem - 2px);
  padding: 0.8rem;
}
.menu__sub__visual {
  display: inline-block;
  width: calc(60% - 2px);
  padding: 0.5rem;
  height: 100%;
}
.menu__sub__visual__img {
  width: 100%;
  height: 100%;
}
.menu__sub__categories__category {
  display: inline-block;
  width: calc(50% - 2px);
  vertical-align: top;
}
.menu__sub__categories__header {
  font-size: 0.9rem;
  border-bottom: 1px solid var(--light-grey);
  margin-right: 1rem;
  padding-bottom: 1rem;
}
.menu__sub__categories__items {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: var(--light-grey);
}
.menu__sub__categories__item__link {
  text-decoration: none;
  color: var(--light-grey);
  font-size: 0.8rem;
  font-weight: 800;
}
.menu__sub__categories__item__link:hover {
  text-decoration: underline;
}
